In [15]:
import pandas as pd
import os

In [57]:
files = os.listdir("knowledges")
ids = [i for i in range(len(files))]

corpus = pd.DataFrame({
    "id": ids,
    "file_name": files
})

In [58]:
corpus.to_csv("corpus.csv", index=False)

In [59]:
data = pd.read_csv("relevant_docs.csv").drop("Unnamed: 0", axis=1).iloc[:, :-2]
data.head()

,id,tag,query,relevant_docs,title_1,title_2
0,0,Pengenalan FTMM,FTMM adalah,"[85, 70]",Sejarah FTMM.txt,Prestasi Mahasiswa.txt
1,1,Lokasi FTMM,Halo FTMM ada dimana?,"[85, 104]",Sejarah FTMM.txt,FTMM Overview.txt
2,2,Informasi Kontak,Apakah FTMM mempunyai akun media sosial?,[74],QnA.txt,NaN
3,3,Sejarah FTMM,Berapa jumlah mahasiswa FTMM?,[85],Sejarah FTMM.txt,NaN
4,4,Prodi FTMM,Apakah ada jurusan yang hanya ada satu di Indo...,"[86,104]",Selayang Pandang FTMM.txt,FTMM Overview.txt

In [60]:
data.iloc[22]

id                                                              22
tag                                                    Pendaftaran
query            Bagaimana mendaftar untuk menjadi mahasiswa FTMM?
relevant_docs                                               [61,2]
title_1                                  pendaftaran-mahasiswa.txt
title_2                 Alur Pendaftaran Online Mahasiswa Baru.txt
Name: 22, dtype: object

In [64]:
relevant_docs_list = list()
for i in range(len(data)):
    title_1 = data["title_1"].iloc[i]
    title_2 = data["title_2"].iloc[i]

    id_title_1 = corpus[corpus["file_name"] == title_1]["id"].values[0]
    if type(title_2) != type(0.0):
        id_title_2 = corpus[corpus["file_name"] == title_2]["id"].values[0]
        relevant_docs = [id_title_1, id_title_2]
    else:
        relevant_docs = [id_title_1]
    relevant_docs_list.append(relevant_docs)

In [68]:
data["relevant_docs"] = relevant_docs_list

In [70]:
data.to_csv("relevant_docs.csv", index=False)